main{
    width: 100%;
    background: #E5E5E5;
}

.container-article{
    width: 80%;
    margin: 0 auto; 
    padding: 6% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card-article{
    width: 45%;
    margin-bottom: 6%;
    transition: 0.5s all;
    width: 518px;
}

.card-article>a{
    color: #FF4081;

}

.card-article:hover {
    transform: scale(1.1);
}

.card-article__description h2{
    font-weight: 500;
    font-size: min(1.9rem, 7vw);
    line-height: 34px;
    color: #FF4081;
    margin: 2% 0;
    cursor: pointer;
}

.card-article__description p{
    font-weight: 300;
    font-size: min(1.06rem, 5vw);
    line-height: 20px;
    color: #000000;
    transition: 0.5s all;
    width: 100%;
}

.card-article:hover .card-article__description h2{
    color: #f50c5a;
}

.card-article__img img{
    background: #C4C4C4;
    height: 259px;;
    width: 100%;
} 

@media screen and (max-width: 1350px) {
    .card-article, .card-article__img img{
        width: 450px;
    } 
}

@media screen and (max-width: 1180px) {
    .card-article, .card-article__img img{
        width: 400px;
    } 
}

@media screen and (max-width: 1036px) {
    .card-article, .card-article__img img{
        width: 350px;
    } 
}

@media screen and (max-width: 924px) {
    .card-article{
        width: 300px;
    } 

    .card-article__img img{
        width: 300px;
        height: auto;
    } 
}

@media screen and (max-width: 800px) {
    .card-article{
        width: 100%;
        margin-bottom: 4rem;
        justify-content: center;
    } 

    .card-article__img img{
        width: 100%;
        height: auto;
    } 
    .container-article{
        justify-content: center;
        
    }
}

@media screen and (max-width:487px) {
    .container-article{
        padding: 15% 0;  
    }
    .card-article:hover {
        transform: scale(1.05);
    }
    .card-article__description h2{
        line-height: 30px;
        margin: 5% 0;

    }
    .card-article__description p{
        font-weight: 300;
        line-height: 17px;
        
    }
   
}

@media screen and (max-width:323px) {

    .card-article__description h2{
        line-height: 27px;
        margin: 5% 0;

    }
    .card-article__description p{
        font-weight: 300;
        line-height: 17px;
        
    }
   
}
